{% extends 'base.html.twig' %}


{% block body %}

<div class="alert alert-dismissible alert-warning">
  <h2 class="alert-heading">Mon anniversaire à la ferme socio-éducative Au pré du bois
</h2>
  <p class="mb-0">C'est 1h30 d'activités : brosser les poneys,monter à cheval,faire un parcours de motricité avec les chèvres câliner les lapins, donner à manger aux moutons...</p><p>Et d'autres jeux autour des animaux et de l'environnements

C'est la possibilité de prendre la goûter sur des ballots de paille

C'est à l'abris des intempéries.</p><p>

C'est encadré par une équipe d'animatrice et de soigneuse animalière

Vous devez souscrire à une adhésion famille</p>
<br/>
<button type="button" class="btn btn-primary"><a href="" style="color:white;text-decoration:none;">Page Tarif</a></button>
</div>

{% endblock %}