{% extends 'base.html.twig' %}



{% block body %}

<div class="alert alert-dismissible alert-warning">
  <h2 class="alert-heading">Ferme itinérante

</h2>
  <p class="mb-0">Une ferme pédagogique est une ferme où sont élevés des animaux et/ou sont cultivés des végétaux à vocation vivrière et accueillant, dans le cadre scolaire ou extra-scolaire, des visiteurs dans un but pédagogique.</p>
</div>

{% endblock %}