{% extends 'base.html.twig' %}


{% block body %}

<div class="alert alert-dismissible alert-warning" >
  <h2 class="alert-heading">Informations supplémentaires </h2>
<adress>Adresse-mail: <a href="mailto:aupredubois@outlook.fr">aupredubois@outlook.fr</a></adress><br/>
<p>Téléphone: <a href="tel:+3362740604">06.62.74.06.04</a></p>
<h3>Diplômes de nos soirgneurs</h3>
<p>Nos soigneurs animateurs sont Titulaire de BTS ESF,licence MCS,DEJEPS,license sciences de l'éducation,certificat de capacités animaux domestiques</p>


</div>


{% endblock %}