{% extends 'base.html.twig' %}


{% block body %}

<div class="alert alert-dismissible alert-warning">
  <h2 class="alert-heading">Grille tarifaire Pour les structures

</h2>
  <p class="mb-0"> Individuel ou petits groupes (- 6 personnes) 7€ par personne - 1h- En groupes de 6 à 14 personnes 60€ - 1h30-Groupes (+14 personnes )120€ - 2h</p>

  <h2 class="alert-heading">Pour les particuliers

</h2>
  <p class="mb-0">Devenez adhérents et bénéficiez de nos activités
Cotisation annuelle 5€ par personne ou 15€ parfamilleActivités éducatives et sociales pour les familles 7€ par personne - 1h Mon anniversaire à la ferme, activités autour des animaux 7€ par enfant - de 2 à 25 ansRéaliser un stage de découverte dans le cadred'une formation ou de recherche d'emploi vous pouvez aussi devenir bénévole n'hesitez pas à nous contacter.</p>
<br/>
</div>

{% endblock %}